
 <!--footer class="footer footer-static footer-light navbar-border">
      <p class="clearfix text-muted text-sm-center mb-0 px-2">
          <span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2021 
              <a href="https://datalapp.com" target="_blank" 
              class="text-bold-800 grey darken-2">Datalapp Informática</a>, Todos los Derechos Reservados. </span>
              <span class="float-md-right d-xs-block d-md-inline-block"></span></p>
</footer-->
