<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
      <!-- main menu header-->
      <div class="main-menu-header">
        <input type="text" placeholder="Buscar" class="menu-search form-control round"/>
      </div>
      <!-- / main menu header-->
      <!-- main menu content-->
      <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
          <li class=" nav-item"><a href="/"><i class="icon-home3"></i><span data-i18n="nav.dash.main" class="menu-title">Dashboard</span></a>
           
          </li>
         <li class=" nav-item"><a href="#"><i class="icon-grid2"></i>
         <span data-i18n="nav.components.main" class="menu-title">Movimientos</span></a>   <ul class="menu-content">
              <!--li><a href="/registrar" data-i18n="nav.page_layouts.1_column" class="menu-item">Usuarios</a>
              </li-->

              <li><a href="/pendientes" data-i18n="nav.page_layouts.1_column" class="menu-item">Pendientes</a>
              </li>

             
            </ul>
          </li>
         
        
        </ul>
      </div>
      <!-- /main menu content-->
      <!-- main menu footer-->
      <!-- include includes/menu-footer-->
      <!-- main menu footer-->
    </div>