<script src="/assets/js/controladores/home/controller.js"></script>
   <div class="row" ng-controller="entityIndex">
                    <div class="col-xl-3 col-lg-6 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-body text-xs-left">
                                            <h3 class="pink">{[{ pp | number:0 }]}</h3>
                                            <span>Prestamos Personales</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-bag2 pink font-large-2 float-xs-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="desde" name="desde" class="hidden">
                    <input id="hasta" name="hasta" class="hidden">
                    <div class="col-xl-3 col-lg-6 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-body text-xs-left">
                                            <h3 class="teal">{[{ dd | number:0 }]}</h3>
                                            <span>Descuentos de Documentos</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-user1 teal font-large-2 float-xs-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-body text-xs-left">
                                            <h3 class="deep-orange">{[{ pcp | number:0 }]}</h3>
                                            <span>Prestamos Contra Pagarés</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-diagram deep-orange font-large-2 float-xs-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-body text-xs-left">
                                            <h3 class="cyan">{[{ teso | number:0 }]}</h3>
                                            <span>Pagarés en Tesoreria</span>
                                        </div>
                                        <div class="media-right media-middle">
                                            <i class="icon-ios-help-outline cyan font-large-2 float-xs-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--/ stats -->
<!--/ project charts -->
        <!--div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-inline text-xs-center pt-2 m-0">
                            <li class="mr-1">
                                <h6><i class="icon-circle warning"></i> <span class="grey darken-1">Remaining</span></h6>
                            </li>
                            <li class="mr-1">
                                <h6><i class="icon-circle success"></i> <span class="grey darken-1">Completed</span></h6>
                            </li>
                        </ul>
                        <div class="chartjs height-250">
                            <canvas id="line-stacked-area" height="250"></canvas>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xs-3 text-xs-center">
                                <span class="text-muted">Total Projects</span>
                                <h2 class="block font-weight-normal">18</h2>
                                <progress class="progress progress-xs mt-2 progress-success" value="70" max="100"></progress>
                            </div>
                            <div class="col-xs-3 text-xs-center">
                                <span class="text-muted">Total Task</span>
                                <h2 class="block font-weight-normal">125</h2>
                                <progress class="progress progress-xs mt-2 progress-success" value="40" max="100"></progress>
                            </div>
                            <div class="col-xs-3 text-xs-center">
                                <span class="text-muted">Completed Task</span>
                                <h2 class="block font-weight-normal">242</h2>
                                <progress class="progress progress-xs mt-2 progress-success" value="60" max="100"></progress>
                            </div>
                            <div class="col-xs-3 text-xs-center">
                                <span class="text-muted">Total Revenue</span>
                                <h2 class="block font-weight-normal">$11,582</h2>
                                <progress class="progress progress-xs mt-2 progress-success" value="90" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card card-inverse bg-info">
                    <div class="card-body">
                        <div class="position-relative">
                            <div class="chart-title position-absolute mt-2 ml-2 white">
                                <h1 class="display-4">84%</h1>
                                <span>Ventas del Mes</span>
                            </div>
                            <canvas id="emp-satisfaction" class="height-400 block"></canvas>
                            <div class="chart-stats position-absolute position-bottom-0 position-right-0 mb-2 mr-3 white">
                                <a href="#" class="btn bg-info bg-darken-3 mr-1 white">Statistics <i class="icon-stats-bars"></i></a> for the last year.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div-->
    
