<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
  {{> header }}
 
    <!-- navbar-fixed-top-->
     {{> nav }}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- main menu-->
    {{> menu }}
    <!-- / main menu-->
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- stats --> 
            {{> pages }}
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    {{> footer }}
    <!-- BEGIN VENDOR JS-->
    {{> js }}
    <!-- END PAGE LEVEL JS-->
  </body>
</html>
