<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
  {{> header }}
   <script src="/assets/js/controladores/pendientes/controller.js"></script>
    <!-- navbar-fixed-top-->
     {{> nav }}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- main menu-->
    {{> menu }}
    <!-- / main menu-->
    <div class="app-content content container-fluid" ng-controller="entityIndex">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- stats --> 
            
            <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-12">
                            <div class="card">

                                 <div class="card-header">
                                        <h4 class="card-title">PENDIENTES DE APROBACION</h4>
                                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                        <div class="heading-elements">
                                            
                                        </div>
                                </div>
                                
                                <div class="card-body collapse in">
                                    <div class="card-block">
                                        
                                    
                                     <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Garantia</th>
                                <th>Monto</th>
                                <th>*</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="a in prestamos">

                           <td>{[{a.id}]}</td> 
                           <td>{[{a.fecha | myDateFormat}]}</td> 
                           <td>{[{a.tipo}]}</td> 
                           <td>{[{a.garantia}]}</td> 
                           <td>{[{a.monto | number:0}]}</td> 
                           <td><a ng-click="aprobar(a.id)" class="btn btn-outline-green">Aprobar</a></td> 
                        </tbody>
                    </table>
                </div>

                      </div>
                       </div>
                       </div>
                        </div>

                    </div>
                </section>

        </div>
      </div>
    </div>
    <div>
        
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <!-- BEGIN VENDOR JS-->
    {{> js }}
    <!-- END PAGE LEVEL JS-->
  </body>
</html>
