<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
  {{> header }}
  <body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <!-- navbar-fixed-top-->
     {{> nav }}
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- main menu-->
    {{> menu }}
    <!-- / main menu-->
    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- stats --> 
            
            <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-12">
                            <div class="card">
                                
                                <div class="card-body collapse in">
                                    <div class="card-block">
                                        
                                        <form class="form" action="/auth/registrar" method="POST" >
                                            <div class="form-body">
                                                <h4 class="form-section"><i class="icon-head"></i> Información de Usuario</h4>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1">Usuario</label>
                                                            <input type="text" id="usuario" class="form-control" 
                                                            placeholder="USUARIO" name="usuario" 
                                                            style="text-transform:uppercase;"
                                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                            autocomplete="off"
                                                            autofocus>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput2">Direccion</label>
                                                            <input type="text" id="direccion" class="form-control" 
                                                            placeholder="DIRECCION" 
                                                            style="text-transform:uppercase;"
                                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                            name="direccion" 
                                                             autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Contacto</label>
                                                            <input type="text" id="contacto" class="form-control" 
                                                            placeholder="CONTACTO" 
                                                            style="text-transform:uppercase;"
                                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                            name="contacto" 
                                                             autocomplete="off">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                          <label for="perfil">Perfil</label>
                                                            <select id="perfil" name="perfil" class="form-control">
                                                                <option value="none" selected="" disabled="">SELECCIONAR</option>
                                                                <option value="admin">ADMIN</option>
                                                                <option value="gerente">GERENTE</option>
                                                                <option value="usuario">USUARIO</option>
                                                            
                                                            </select>
                                                          </div>
                                                    </div>
                                                </div>

                                                 <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">E-mail</label>
                                                            <input type="text" id="email" class="form-control" placeholder="E-mail" name="email" autocomplete="off">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput4">Password</label>
                                                            <input type="password" id="password" class="form-control" placeholder="PASSWORD" 
                                                            name="password" autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                
                                            </div>

                                            <div class="form-actions">

                                                <button type="submit" class="btn btn-primary">
                                                    <i class="icon-check2"></i> Guardar
                                                </button>

                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="icon-cross2"></i> Cancelar
                                                </button>
                                            
                                            </div>

                                            {{#if message}}
                                             <h4>{{message}}</h4>
                                             {{/if}}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

        </div>
      </div>
    </div>
    <div>
        
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <!-- BEGIN VENDOR JS-->
    {{> js }}
    <!-- END PAGE LEVEL JS-->
  </body>
</html>
